In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open('yellow2014-04.pkl','rb') as picklefile:
    df1404 = pickle.load(picklefile)
with open('yellow2014-05.pkl','rb') as picklefile:
    df1405 = pickle.load(picklefile)
with open('yellow2014-06.pkl','rb') as picklefile:
    df1406 = pickle.load(picklefile)
with open('yellow2014-07.pkl','rb') as picklefile:
    df1407 = pickle.load(picklefile)
with open('yellow2014-08.pkl','rb') as picklefile:
    df1408 = pickle.load(picklefile)
with open('yellow2014-09.pkl','rb') as picklefile:
    df1409 = pickle.load(picklefile)

In [3]:
with open('df_coords4.pkl','rb') as picklefile:
    df_coords4 = pickle.load(picklefile)
with open('df_coords5.pkl','rb') as picklefile:
    df_coords5 = pickle.load(picklefile)
with open('df_coords6.pkl','rb') as picklefile:
    df_coords6 = pickle.load(picklefile)
with open('df_coords7.pkl','rb') as picklefile:
    df_coords7 = pickle.load(picklefile)
with open('df_coords8.pkl','rb') as picklefile:
    df_coords8 = pickle.load(picklefile)
with open('df_coords9.pkl','rb') as picklefile:
    df_coords9 = pickle.load(picklefile)

In [4]:
df1404['census_tract'] = df_coords4
df1405['census_tract'] = df_coords5
df1406['census_tract'] = df_coords6
df1407['census_tract'] = df_coords7
df1408['census_tract'] = df_coords8
df1409['census_tract'] = df_coords9

In [5]:
df14 = pd.concat([df1404,df1405,df1406,df1407,df1408,df1409])

In [6]:
df14.shape

(80405325, 12)

In [8]:
df14.head()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,tip_amount,total_amount,rides,year,date,hour,day_of_week,census_tract
0,1,2.5,-73.958848,40.763585,3.7,22.2,1,2014,2014-04-08,08,1,3.606101e+10
2,2,0.6,-73.992233,40.729136,1.2,7.2,1,2014,2014-04-08,08,1,3.606101e+10
3,2,0.5,-73.973726,40.750095,1.7,10.2,1,2014,2014-04-08,08,1,3.606101e+10
4,1,0.4,-73.973502,40.755479,1.2,7.2,1,2014,2014-04-08,08,1,3.606101e+10
5,1,0.8,-73.963002,40.766355,1.3,7.8,1,2014,2014-04-08,07,1,3.606101e+10

In [17]:
date = df14['date']

0    2014-04-08
0    2014-06-30
0    2014-07-10
0    2014-08-16
0    2014-09-10
Name: date, dtype: object

In [49]:
date = date.astype(str)

In [50]:
l = [i for i in date]

In [51]:
values = [l[i].split('-')[1] for i in range(0,len(date))]

In [52]:
df14['month'] = np.asarray(values)

In [53]:
df14['month'] = df14['month'].astype(int)

In [54]:
df14.month.value_counts()

5    14420340
4    14320476
6    13448076
9    13110624
7    12754317
8    12351492
Name: month, dtype: int64

In [55]:
df14.head()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,tip_amount,total_amount,rides,year,date,hour,day_of_week,census_tract,month
0,1,2.5,-73.958848,40.763585,3.7,22.2,1,2014,2014-04-08,08,1,3.606101e+10,4
2,2,0.6,-73.992233,40.729136,1.2,7.2,1,2014,2014-04-08,08,1,3.606101e+10,4
3,2,0.5,-73.973726,40.750095,1.7,10.2,1,2014,2014-04-08,08,1,3.606101e+10,4
4,1,0.4,-73.973502,40.755479,1.2,7.2,1,2014,2014-04-08,08,1,3.606101e+10,4
5,1,0.8,-73.963002,40.766355,1.3,7.8,1,2014,2014-04-08,07,1,3.606101e+10,4

In [56]:
df14_3 = df14[df14['month'] >= 7]

In [57]:
df14_3.shape

(38216433, 13)

In [63]:
df14_gr = df14_3.groupby('census_tract',as_index=False).sum()

In [64]:
df14_gr.columns

Index(['census_tract', 'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'tip_amount', 'total_amount', 'rides', 'year',
       'day_of_week', 'month'],
      dtype='object')

In [65]:
df14_gr = df14_gr.drop(['passenger_count', 
                        'trip_distance', 
                        'pickup_longitude',
                        'pickup_latitude', 
                        'tip_amount', 
                        'total_amount', 
                        'year',
                        'day_of_week',
                        'month'],axis=1)

In [71]:
df14_gr.head()

   census_tract  rides
0  3.600500e+10     57
1  3.600500e+10     10
2  3.600500e+10     27
3  3.600500e+10     26
4  3.600500e+10     22

In [66]:
# too big to pickle

# with open('df14_jul_sep.pkl','wb') as picklefile:
#     pickle.dump(df14_3,picklefile)

In [61]:
with open('df_y_rides09.pkl','rb') as picklefile:
    df09 = pickle.load(picklefile)

In [72]:
df09.head()

   census_tract  rides_09
0  3.600500e+10       163
1  3.600500e+10       143
2  3.600500e+10       104
3  3.600500e+10       133
4  3.600500e+10       157

In [75]:
df_0914 = pd.merge(df09,df14_gr,on='census_tract',how='left')

In [77]:
df_0914.shape

(2168, 3)

In [78]:
df_0914['5_year_change'] = (df_0914.rides / df_0914.rides_09) - 1

In [79]:
df_0914

      census_tract  rides_09   rides  5_year_change
0     3.600500e+10       163    57.0      -0.650307
1     3.600500e+10       143    10.0      -0.930070
2     3.600500e+10       104    27.0      -0.740385
3     3.600500e+10       133    26.0      -0.804511
4     3.600500e+10       157    22.0      -0.859873
5     3.600500e+10        89    21.0      -0.764045
6     3.600500e+10       167  2720.0      15.287425
7     3.600500e+10       104     5.0      -0.951923
8     3.600500e+10       156   347.0       1.224359
9     3.600500e+10       149   207.0       0.389262
10    3.600500e+10       117   208.0       0.777778
11    3.600500e+10       117    59.0      -0.495726
12    3.600500e+10       141    92.0      -0.347518
13    3.600500e+10       146    58.0      -0.602740
14    3.600500e+10        71    34.0      -0.521127
15    3.600500e+10        86    29.0      -0.662791
16    3.600500e+10        55    21.0      -0.618182
17    3.600500e+10       134   257.0       0.917910
18    3.600500e+10       120   112.0      -0.066667
19    3.600500e+10       111   134.0       0.207207
20    3.600500e+10        90    83.0      -0.077778
21    3.600500e+10       146   462.0       2.164384
22    3.600500e+10        73    17.0      -0.767123
23    3.600500e+10        87    40.0      -0.540230
24    3.600500e+10        85    54.0      -0.364706
25    3.600501e+10       106    22.0      -0.792453
26    3.600501e+10        35    24.0      -0.314286
27    3.600501e+10       168  3729.0      21.196429
28    3.600501e+10        73    41.0      -0.438356
29    3.600501e+10        72    37.0      -0.486111
...            ...       ...     ...            ...
2138  3.608502e+10       122    36.0      -0.704918
2139  3.608502e+10         4     2.0      -0.500000
2140  3.608502e+10         2     4.0       1.000000
2141  3.608502e+10        15     2.0      -0.866667
2142  3.608502e+10        59     2.0      -0.966102
2143  3.608502e+10       147    94.0      -0.360544
2144  3.608502e+10        66    13.0      -0.803030
2145  3.608502e+10         6     5.0      -0.166667
2146  3.608502e+10        11     2.0      -0.818182
2147  3.608502e+10         5     9.0       0.800000
2148  3.608502e+10         6     1.0      -0.833333
2149  3.608502e+10        16     NaN            NaN
2150  3.608502e+10       143   116.0      -0.188811
2151  3.608503e+10         9     2.0      -0.777778
2152  3.608503e+10        22     NaN            NaN
2153  3.608503e+10        39     3.0      -0.923077
2154  3.608503e+10        12     3.0      -0.750000
2155  3.608503e+10        14     NaN            NaN
2156  3.608503e+10        10     NaN            NaN
2157  3.608503e+10        17     3.0      -0.823529
2158  3.608503e+10         8     1.0      -0.875000
2159  3.608503e+10       162   180.0       0.111111
2160  3.608503e+10        23     9.0      -0.608696
2161  3.608503e+10        41     7.0      -0.829268
2162  3.608503e+10        17     5.0      -0.705882
2163  3.608503e+10        11     4.0      -0.636364
2164  3.608503e+10        18     8.0      -0.555556
2165  3.608503e+10       168  3203.0      18.065476
2166  3.608503e+10       168   960.0       4.714286
2167  3.608599e+10        87     3.0      -0.965517

[2168 rows x 4 columns]

In [81]:
df_0914 = df_0914.drop(['rides','rides_09'],axis=1)

In [82]:
with open('yellow_growth_for_model.pkl','wb') as picklefile:
    pickle.dump(df_0914,picklefile)