In [14]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

import pickle

In [15]:
df = pd.read_csv('airbnb.csv')

In [16]:
df.shape

(1588, 11)

In [17]:
df.head()

,Unnamed: 0,GEOID,accommodates,bathrooms,bedrooms,beds,dailyrate,number_of_reviews,review_scores_location,review_scores_rating,airbnb_listings
0,0,36005000400,3.000000,0.944444,1.333333,1.888889,107.777778,2.888889,9.000000,86.000000,9.0
1,1,36005002000,5.333333,1.000000,2.333333,5.666667,83.333333,7.666667,9.000000,96.500000,3.0
2,2,36005002300,3.631579,1.052632,1.315789,2.157895,104.105263,16.789474,8.687500,94.375000,19.0
3,3,36005002500,2.000000,1.000000,0.833333,1.166667,64.166667,36.833333,8.666667,94.500000,6.0
4,4,36005002701,5.333333,1.333333,2.000000,4.333333,78.000000,9.000000,9.000000,89.666667,3.0

In [18]:
df.columns

Index(['Unnamed: 0', 'GEOID', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'dailyrate', 'number_of_reviews', 'review_scores_location',
       'review_scores_rating', 'airbnb_listings'],
      dtype='object')

In [19]:
df.dtypes

Unnamed: 0                  int64
GEOID                       int64
accommodates              float64
bathrooms                 float64
bedrooms                  float64
beds                      float64
dailyrate                 float64
number_of_reviews         float64
review_scores_location    float64
review_scores_rating      float64
airbnb_listings           float64
dtype: object

In [20]:
df.rename(columns={'GEOID':'census_tract'},inplace=True)

In [21]:
df_airbnb = df.drop(['Unnamed: 0'],axis=1)

In [23]:
df_airbnb.columns = ['airbnb_' + str(col) for col in df_airbnb.columns]

In [24]:
df_airbnb.dtypes

airbnb_census_tract                int64
airbnb_accommodates              float64
airbnb_bathrooms                 float64
airbnb_bedrooms                  float64
airbnb_beds                      float64
airbnb_dailyrate                 float64
airbnb_number_of_reviews         float64
airbnb_review_scores_location    float64
airbnb_review_scores_rating      float64
airbnb_airbnb_listings           float64
dtype: object

In [25]:
with open('airbnb_for_model.pkl','wb') as picklefile:
    pickle.dump(df_airbnb,picklefile)