In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

import pickle

from scipy import spatial

In [24]:
with open('yelpapi_bars_wGEOID.pkl','rb') as picklefile:
    df = pickle.load(picklefile)

In [25]:
df.shape

(5092, 14)

In [26]:
df['bar_count'] = 1

In [27]:
dff = df.drop(['categories', 
               'display_phone', 
               'id', 
               'is_claimed', 
               'is_closed', 
               'name',
               'phone', 
               'url', 
               'latitude', 
               'longitude',
               'coordinates'],axis=1)

In [28]:
dfff = dff.groupby('census_tract',as_index=False).sum()
dfff.head()

   census_tract  rating  review_count  bar_count
0  3.600500e+10     9.5             5          2
1  3.600500e+10     9.0           180          3
2  3.600500e+10     5.0             1          1
3  3.600500e+10     2.5            26          1
4  3.600501e+10     2.0             3          1

In [29]:
# dfff['rating'] = dfff['rating']/dfff['bar_count']
# dfff['review_count'] = dfff['review_count']/dfff['bar_count']

In [30]:
dfff.head()

   census_tract  rating  review_count  bar_count
0  3.600500e+10     9.5             5          2
1  3.600500e+10     9.0           180          3
2  3.600500e+10     5.0             1          1
3  3.600500e+10     2.5            26          1
4  3.600501e+10     2.0             3          1

In [31]:
df_coffee = pd.read_csv("coffee_count.csv")
df_coffee = df_coffee[['GEOID','coffee_count']]
df_coffee.head()

         GEOID  coffee_count
0  36005002300             2
1  36005002500             1
2  36005002702             1
3  36005004300             1
4  36005005100             2

In [32]:
dfff_ = pd.merge(dfff,df_coffee, left_on='census_tract',right_on='GEOID',how='left')

In [33]:
dfff_.columns = ['yelp_bar_' + str(col) for col in dfff_.columns]
dfff_.head()

,yelp_bar_census_tract,yelp_bar_rating,yelp_bar_review_count,yelp_bar_bar_count,yelp_bar_GEOID,yelp_bar_coffee_count
0,3.600500e+10,9.5,5,2,NaN,NaN
1,3.600500e+10,9.0,180,3,3.600500e+10,2.0
2,3.600500e+10,5.0,1,1,NaN,NaN
3,3.600500e+10,2.5,26,1,3.600500e+10,1.0
4,3.600501e+10,2.0,3,1,3.600501e+10,2.0

In [34]:
with open('yelpbars_for_model.pkl','wb') as picklefile:
    pickle.dump(dfff_, picklefile)