In [1]:
import pandas as pd
import numpy as np
import pickle
from scipy import spatial

In [3]:
df_ct = pd.read_csv('geoid_census_tract.csv')
df_ct['COORDS'] = list(zip(df_ct.LAT, df_ct.LON))
df_ct.COORDS = df_ct.COORDS.apply(list)
df_ct.head()

,INDEX,GEOID,STATE,COUNTY,TRACT,LAT,LON,COORDS
0,88,36005000100,36,5,100,40.793492,-73.883532,"[40.7934921, -73.8835318]"
1,89,36005000200,36,5,200,40.804573,-73.856859,"[40.8045733, -73.8568585]"
2,90,36005000400,36,5,400,40.808915,-73.850488,"[40.8089152, -73.8504884]"
3,91,36005001600,36,5,1600,40.818848,-73.858076,"[40.8188478, -73.8580764]"
4,92,36005001900,36,5,1900,40.800999,-73.909373,"[40.800999, -73.9093729]"

In [4]:
X_train = pd.Series(df_ct.COORDS).tolist()
y_train = df_ct.GEOID

def nearest(X_train, y_train, X_test):
    tree = spatial.KDTree(np.array(X_train))
    (distances,indexes) = tree.query(X_test)
    for i,d in list(zip(indexes,distances)):
        yield y_train[i]

In [4]:
with open('yellow2014-04.pkl','rb') as picklefile:
    df1404 = pickle.load(picklefile)

print('pass1')

df1404['coordinates'] = list(zip(df1404.pickup_latitude, df1404.pickup_longitude))
df1404.coordinates = df1404.coordinates.apply(list)

print('pass2')

X_test = [df1404.coordinates]
results = []
for result in nearest(X_train, y_train, X_test):
    results.append(result)

print(len(results)) 

df_coords4 = pd.DataFrame(np.asarray(results))
df_coords4 = df_coords4.transpose()

print(df_coords4.shape)

with open('df_coords4.pkl','wb') as picklefile:
    pickle.dump(df_coords4,picklefile)

print('pass3')

pass1
pass2
1
(14320476, 1)
pass3

In [5]:
with open('yellow2014-05.pkl','rb') as picklefile:
    df1405 = pickle.load(picklefile)

print('pass1')

df1405['coordinates'] = list(zip(df1405.pickup_latitude, df1405.pickup_longitude))
df1405.coordinates = df1405.coordinates.apply(list)

print('pass2')

X_test = [df1405.coordinates]
results = []
for result in nearest(X_train, y_train, X_test):
    results.append(result)

print(len(results)) 

df_coords5 = pd.DataFrame(np.asarray(results))
df_coords5 = df_coords5.transpose()

print(df_coords5.shape)

with open('df_coords5.pkl','wb') as picklefile:
    pickle.dump(df_coords5,picklefile)

print('pass3')

pass1
pass2
1
(14420340, 1)
pass3

In [ ]:
with open('yellow2014-06.pkl','rb') as picklefile:
    df1406 = pickle.load(picklefile)

print('pass1')

df1406['coordinates'] = list(zip(df1406.pickup_latitude, df1406.pickup_longitude))
df1406.coordinates = df1406.coordinates.apply(list)

print('pass2')

X_test = [df1406.coordinates]
results = []
for result in nearest(X_train, y_train, X_test):
    results.append(result)

print(len(results)) 

df_coords6 = pd.DataFrame(np.asarray(results))
df_coords6 = df_coords6.transpose()

print(df_coords6.shape)

with open('df_coords6.pkl','wb') as picklefile:
    pickle.dump(df_coords6,picklefile)

print('pass3')

pass1
pass2
1
(13448076, 1)
pass3

In [5]:
with open('yellow2014-07.pkl','rb') as picklefile:
    df1407 = pickle.load(picklefile)

print('pass1')

df1407['coordinates'] = list(zip(df1407.pickup_latitude, df1407.pickup_longitude))
df1407.coordinates = df1407.coordinates.apply(list)

print('pass2')

X_test = [df1407.coordinates]
results = []
for result in nearest(X_train, y_train, X_test):
    results.append(result)

print(len(results)) 

df_coords7 = pd.DataFrame(np.asarray(results))
df_coords7 = df_coords7.transpose()

print(df_coords7.shape)

with open('df_coords7.pkl','wb') as picklefile:
    pickle.dump(df_coords7,picklefile)

print('pass3')

pass1
pass2
1
(12754317, 1)
pass3

In [6]:
with open('yellow2014-08.pkl','rb') as picklefile:
    df1408 = pickle.load(picklefile)

print('pass1')

df1408['coordinates'] = list(zip(df1408.pickup_latitude, df1408.pickup_longitude))
df1408.coordinates = df1408.coordinates.apply(list)

print('pass2')

X_test = [df1408.coordinates]
results = []
for result in nearest(X_train, y_train, X_test):
    results.append(result)

print(len(results)) 

df_coords8 = pd.DataFrame(np.asarray(results))
df_coords8 = df_coords8.transpose()

print(df_coords8.shape)

with open('df_coords8.pkl','wb') as picklefile:
    pickle.dump(df_coords8,picklefile)

print('pass3')

pass1
pass2
1
(12351492, 1)
pass3

In [7]:
with open('yellow2014-09.pkl','rb') as picklefile:
    df1409 = pickle.load(picklefile)

print('pass1')

df1409['coordinates'] = list(zip(df1409.pickup_latitude, df1409.pickup_longitude))
df1409.coordinates = df1409.coordinates.apply(list)

print('pass2')

X_test = [df1409.coordinates]
results = []
for result in nearest(X_train, y_train, X_test):
    results.append(result)

print(len(results)) 

df_coords9 = pd.DataFrame(np.asarray(results))
df_coords9 = df_coords9.transpose()

print(df_coords9.shape)

with open('df_coords9.pkl','wb') as picklefile:
    pickle.dump(df_coords9,picklefile)

print('pass3')

pass1
pass2
1
(13110624, 1)
pass3

In [8]:
with open('yellow2014-04.pkl','rb') as picklefile:
    df1404 = pickle.load(picklefile)
with open('yellow2014-05.pkl','rb') as picklefile:
    df1405 = pickle.load(picklefile)
with open('yellow2014-06.pkl','rb') as picklefile:
    df1406 = pickle.load(picklefile)
with open('yellow2014-07.pkl','rb') as picklefile:
    df1407 = pickle.load(picklefile)
with open('yellow2014-08.pkl','rb') as picklefile:
    df1408 = pickle.load(picklefile)
with open('yellow2014-09.pkl','rb') as picklefile:
    df1409 = pickle.load(picklefile)

In [9]:
with open('df_coords4.pkl','rb') as picklefile:
    df_coords4 = pickle.load(picklefile)
with open('df_coords5.pkl','rb') as picklefile:
    df_coords5 = pickle.load(picklefile)
with open('df_coords6.pkl','rb') as picklefile:
    df_coords6 = pickle.load(picklefile)
with open('df_coords7.pkl','rb') as picklefile:
    df_coords7 = pickle.load(picklefile)
with open('df_coords8.pkl','rb') as picklefile:
    df_coords8 = pickle.load(picklefile)
with open('df_coords9.pkl','rb') as picklefile:
    df_coords9 = pickle.load(picklefile)

In [10]:
df1404['census_tract'] = df_coords4
df1405['census_tract'] = df_coords5
df1406['census_tract'] = df_coords6
df1407['census_tract'] = df_coords7
df1408['census_tract'] = df_coords8
df1409['census_tract'] = df_coords9

In [11]:
df14 = pd.concat([df1404,df1405,df1406,df1407,df1408,df1409])

In [12]:
df14.shape

(80405325, 12)

In [13]:
df14 = df14.drop(['pickup_longitude','pickup_latitude'],axis=1)

In [14]:
df14.head()

,passenger_count,trip_distance,tip_amount,total_amount,rides,year,date,hour,day_of_week,census_tract
0,1,2.5,3.7,22.2,1,2014,2014-04-08,08,1,3.606101e+10
2,2,0.6,1.2,7.2,1,2014,2014-04-08,08,1,3.606101e+10
3,2,0.5,1.7,10.2,1,2014,2014-04-08,08,1,3.606101e+10
4,1,0.4,1.2,7.2,1,2014,2014-04-08,08,1,3.606101e+10
5,1,0.8,1.3,7.8,1,2014,2014-04-08,07,1,3.606101e+10

In [15]:
df_g = df14.groupby(['census_tract','day_of_week','hour']).sum().reset_index()

In [16]:
df_g.head()

,census_tract,day_of_week,hour,passenger_count,trip_distance,tip_amount,total_amount,rides,year
0,3.600500e+10,0,01,1,1.3,0.00,7.50,1,2014
1,3.600500e+10,0,07,2,2.2,1.00,16.00,2,4028
2,3.600500e+10,0,08,2,4.3,0.00,22.00,2,4028
3,3.600500e+10,0,09,2,0.5,0.00,4.00,1,2014
4,3.600500e+10,0,10,1,1.4,0.75,10.25,1,2014

In [17]:
df_g.shape

(194105, 9)

In [18]:
with open('df_g_yellow_14.pkl','wb') as picklefile:
    pickle.dump(df_g,picklefile)

In [19]:
with open('df_g_yellow_14.pkl','rb') as picklefile:
    df = pickle.load(picklefile)

In [20]:
df_g_yellow = df.groupby(['census_tract']).sum().reset_index()

In [24]:
df_yellow_final = df_g_yellow.drop(['day_of_week', 
                                    'passenger_count', 
                                    'trip_distance',
                                    'tip_amount', 
                                    'total_amount',
                                    'year'],axis=1)

In [31]:
df_yellow_final.head()

   census_tract  rides
0  3.600500e+10    119
1  3.600500e+10     36
2  3.600500e+10     53
3  3.600500e+10     79
4  3.600500e+10    122

In [32]:
with open('df_g_yellow.pkl','wb') as picklefile:
    pickle.dump(df_yellow_final,picklefile)

In [33]:
df_yellow_final.to_csv('yellow_taxi_total.csv')